/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    height: 100vh;
    overflow: hidden
}

body {
    font-family: 'Montserrat';
    margin: 0;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100vh;
}

body::-webkit-scrollbar { 
    display: none;
}

section {
    padding: 4em;
    height: calc(100vh - 8em);
    color: #101010;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
}

h2 {
    font-size: 4em;
    line-height: normal;
}

h3 {
    font-size: 2em;
    line-height: normal;
}

p {
    font-size: 1.2em;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.4em 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: white;
    -webkit-box-shadow: 0 0 10px #A0A0A0;
            box-shadow: 0 0 10px #A0A0A0;
}

.model-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    visibility: hidden;
}

.model-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2em;
    width: 100vw;
}

.model-container div button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin-left: min(calc(5vw - 40px), 20px);
    margin-right: min(calc(5vw - 40px), 20px);
    margin-bottom: 4em;
    width: auto;
    height: 30vh;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition: .2s;
}

.model-container div button:hover { 
    -webkit-transform: scale(2.5) translate(0, -5vh); 
        -ms-transform: scale(2.5) translate(0, -5vh); 
            transform: scale(2.5) translate(0, -5vh);
}

.model-image {
    height: 30vh;
    width: auto;
    -webkit-filter: drop-shadow(2px 2px 1px #888);
    filter: drop-shadow(2px 2px 1px #888);
}

.card {
    height: 60vmin;
    width: 80vmin;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;
    background: #AAAAAA55;
    filter: drop-shadow(2px 2px 1px #AAA);
    -webkit-filter: drop-shadow(2px 2px 1px #AAA);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.card img {
    position: absolute;
    width: 80vmin;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-filter: drop-shadow(2px 2px 1px #888);
    filter: drop-shadow(2px 2px 1px #888);
}

.card button {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    width: 8em;
    height: 8em;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition: .2s;
    z-index: 1;
}

.card button img {
    width: 8em;
    height: 8em;
}

.card button:hover { 
    -webkit-transform: rotate(720deg); 
        -ms-transform: rotate(720deg); 
            transform: rotate(720deg);
}

.card button:active { 
    -webkit-transform: scale(0.9); 
        -ms-transform: scale(0.9); 
            transform: scale(0.9);
}

.card button img {
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar img {
    height: 3.0em;
    margin-top: -1.2em;
    margin-bottom: -1.2em;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
}

.nav-bar ul li {
    display: inline-block;
    padding: 0 2em;
    position: relative;
}

.nav-bar ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #101010;
    text-decoration: none;
    font-weight: bold;
}

.nav-bar ul li a:hover {
    color: #606060;
}

.menu-visiable-narrow svg {
    display: block;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-visiable-narrow {
    visibility: hidden;
    display: none;
}

.drop-down {
    z-index: 2;
}

.drop-down ul {
    visibility: hidden;
    display: none;
    position: absolute;
    background: white;
    padding: 0;
    transition: all 0.5s ease;
}

.drop-down:hover > ul,
.drop-down ul:hover {
    visibility: visible;
    display: block;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}

.drop-down ul li {
    margin: 1em;
    display: block;
}

@media (max-width: 768px) {
    .menu-visiable-wide {
        visibility: hidden;
        display: none;
    }
    .menu-visiable-narrow {
        visibility: visible;
        display: block;
    }
}

.footer {
    position: absolute;
    width: 100%;
    margin-left: -4em;
    bottom: 0;
}

.dark-bg {
    background: #181818;
}

.footer a {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: lightgray;
}

.footer a:hover {
    color: #A0A0A0;
}

.dark-bg p {
    text-align: center;
    font-weight: bold;
    color: white;
}

.bounder {
    display: block;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 53vh;
}

.bounder div {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.bounder div p {
    text-align: center;
    white-space: nowrap;
    background: #5F0000A0;
    color: white;
    padding: 0.4em;
    border-radius: 1em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .bounder div p {
        font-size: 0.8em;
    }
}

#portrait {
    display: block;
    width: auto;
    height: 90%;
    position: absolute;
    top: 7em;
    left: 40vw;
}

#first-name {
    display: block;
    position: absolute;
    top: 20vh;
    left: 30vw;
}

#last-name {
    display: block;
    position: absolute;
    top: calc(20vh + 3em);
    left: calc(30vw + 2em);
}

#introduction {
    display: block;
    position: absolute;
    top: calc(20vh + 8em);
    left: calc(30vw - 2em);
}
